.header{
    width: 1362px;
    height: 66px;
    background: linear-gradient(90deg, rgba(6,82,108,1) 37%, rgba(6,82,108,1) 68%);

}

.logo{
    position: absolute;
    font-size: x-large;
    margin-left: 200px;
    margin-top: 5px;
    font-family: system-ui;

    border-radius: 15px;
}
body{
    background: #0F485A;
}
.ua_tb{
    position: absolute;
    font-size: x-large;
    margin-left: 300px;
    margin-top: 5px;
    font-family: system-ui;
}
.tb{
    position: absolute;
    font-size: x-large;
    margin-left: 400px;
    margin-top: 5px;
    font-family: system-ui;
}

.films{
    position: absolute;
    font-size: x-large;
    margin-left: 450px;
    margin-top: 5px;
    font-family: system-ui;
}
.mult{
    position: absolute;
    font-size: x-large;
    margin-left: 550px;
    margin-top: 5px;
    font-family: system-ui;
}

.serials{
    position: absolute;
    font-size: x-large;
    margin-left: 670px;
    margin-top: 5px;
    font-family: system-ui;
}

.body{
    height: 1311px;
    width: 1362px;
    background: linear-gradient(90deg, rgba(117,203,255,1) 37%, rgba(95,123,128,1) 86%, rgba(87,93,81,1) 100%);
}

.menu{
    position: absolute;
    font-size: x-large;
    font-family: system-ui;
    margin-left: 300px;
}
.one{
    position: absolute;
    margin-left: 800px;
    margin-top: 5px;
}
.two{
    position: absolute;
    margin-left: 800px;
    margin-top: 20px;
}
.three{
    position: absolute;
    margin-left: 800px;
    margin-top: 35px;
}
.reg{
    position: absolute;
    background-color: aqua;
    border-radius: 10px;
    font-size: x-large;
    border: none;
    font-family: system-ui;
    cursor: pointer;
    margin-left: 950px;
    margin-top: 5px;
}
.logotip{
    position: absolute;
    bottom: 89%;
    right: 95.7%;
}
.BicLogo{
    position: absolute;
    width: 178px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    bottom: 89.9%;
}
.uatvlogo{
    position: absolute;
width: 105px;
height: 82px;
left: 40px;
font-family: 'Gidugu';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 119px;
color: #90A4AE;
bottom: 547px;
left: 60px;
}
.hpng{
    position: absolute;
width: 1037px;
height: 303px;
top: 100px;
margin-left: 10%;
border-radius: 40px;
}
.bit1{
    margin-top: 120px;
    position: absolute;
    }
    .bit2{
    margin-top: 120px;
    position: absolute;
    margin-left: 90%;
    }
    .rom1{
        margin-top: 480px;
        margin-left: 100px;
        }
        .rom2{
            margin-top: 480px;
            margin-left: 150px;
            position: absolute;
        }
        .rom3{
            margin-top: 480px;
            margin-left: 42%;
            position: absolute;
 }
 .bit3{
    margin-top: 620px;
    position: absolute;
    }
    .bit4{
    position: absolute;
    margin-left: 90%;
    top: 700px;
    }
    .rom4{
        margin-top:80px;
        margin-left: 100px;
       
    }
    .rom5{
        margin-top: 80px;
        margin-left: 150px;
        position: absolute;
    }
    .rom6{
        margin-top: 80px;
        margin-left: 42%;
        position: absolute;
    }
    .bit5{
        margin-top: 1100px;
        position: absolute;
    }
    .bit6{
        position: absolute;
        margin-left: 90%;
        top: 1180px;
    }
    .a1{
        position: absolute;
    width: 1362px;
    height: 701px;
    top: 1700px;
    background: #145B72;
    }
    .z1{
        position: absolute;
    width: 130px;
    height: 36px;
    margin-left: 50px;
    top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    color: #FFFFFF;
    }
    .z2{
        position: absolute;
    width: 142px;
    height: 324px;
    margin-left: 50px;
    bottom: 420px;
    font-family: 'Grape Nuts';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    color: #332C2C;
    
    }
    .z3{
        position: absolute;
    width: 145px;
    height: 180px;
    
    font-family: 'Grape Nuts';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    
    color: #332C2C;
    bottom: 420px;
    margin-left: 200px;
    }
    .z4{
        position: absolute;
    width: 204px;
    height: 36px;
    
    font-family: 'Grape Nuts';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    /* identical to box height */
    top: 20px;
    display: flex;
    align-items: flex-end;
    margin-left: 350px;
    color: #FFFFFF;
    }
    .z5{
        position: absolute;
    width: 293px;
    height: 324px;
    bottom: 420px;
    margin-left: 350px;
    font-family: 'Grape Nuts';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    
    color: #332C2C;
    }
    .play{
        position: absolute;
    width: 390px;
    height: 138px;
    margin-left: 20px;
    background: #0F485A;
    border-radius: 25px;
    font-size: 29px;
    border: none;
    bottom: 12px;
    }